.about-us__content {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: flex;
    gap: 40px;
  }
  
  .about-us__content h2 {
    text-align: center;
    width: 190px;
    color: #35414B;
    text-align: center;
    line-height: 24px; 
  }
  
  .about-us__content p {
    font-family: 'Inter', sans-serif;
    width: 69%;
    color: var(--River-Bed);
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
  }
  
  .baseline {
    display: none;
  }
  
  .baseline--visibility-hidden {
    display: none;
  }
  
  .name,
  .job {
      font-family: 'Inter', sans-serif;
      color: var(--River-Bed);
      text-align: center;  
      line-height: 13px;   
      font-size: 13px;
      margin-top: 9px;
  }
  
  .name {
    font-weight: 600;
  }
  
  .job {
    font-weight: 400;
    margin-top: 8px;
  }
  
  .customer-infor {
    align-items: center;
    margin-right: 2px;
    display: flex;
    flex-direction: column;
    margin-top: 40px;
  }
  
  .customer-pro-hidden {
    display: none;
  }

  @media only screen and (min-width: 576px) {
    .about-us {
      width: 61%;
    }
    .about-us__content p {
      width: 444px;
  }
  }


  @media only screen and (min-width: 992px) {
    .about-us__content {
      gap: 50px;
      margin-top: 60px;
    }
    
    .about-us__content h2 {
      text-align: center;
      width: 394px;
      height: 96px;
      margin-top: 40px;
      margin-right: 5px;
      color: #35414B;
      text-align: center;
      line-height: 48px; 
    }
    
    .about-us__content p {
      width: 543px;
      font-size: 18px;
      font-weight: 400;
      line-height: 32px;
      margin-top: -2px;
      margin-left: 25px;
    }
    

    .name-job {
      margin-left: 16px;
      margin-top: 6px;
  }
    
    .name,
    .job {
        line-height: 16px;   
        font-size: 16px;
        margin-top: -9px;
    }
    
    .name {
      font-weight: 600;
      text-align: left;
    }
    
    .job {
      font-weight: 400;
      margin-top: 8px;
      text-align: left;
    }

    .customers-feedbacks {
      gap: 80px;
      height: 126px;
      margin-top: 28px;
      margin-left: 10px;
      display: flex;
  }
    
    .customer-pro {
      cursor: pointer;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      display: flex;
      margin-right: 15px;
      margin-bottom: 28px;
  }
    .customer-infor {
      margin-right: 2px;
      display: flex;
      flex-direction: row;     
    }
    .customer-pro-hidden {
      display: none;
    }
    .customer-infor {
       margin-top: 25px;
    }

    .customer-ava {
      margin-bottom: 15px;
    }
  }

  @media only screen and (min-width: 1400px) {
     .baseline {
      display: block;
      width: 264px;
      height: 4px;
      margin-bottom: 10px;
      margin-left: 40px;
    }
    .customer-pro {
      margin-bottom: 15px;
      margin-right: 50px;
    }
    .baseline--visibility-hidden {
      display: block;
      visibility: hidden;
    }
    .customer-pro-hidden {
      display: block;
    }
    .customer-ava {
      margin-top: 10px;
    }
    .customer-infor {
      margin-top: 12px;
    }
  }
