.feature-img img {
    width: 48px;
    height: 48px;
    object-fit: fill;
  }

.feature-img {
    margin-top: 20px;
}
  
  .feature {
    flex-wrap: wrap;
    display: flex;
    text-align: center;
    width: 100%;
    justify-content: center;
    gap: 10px;
  }
  
  .feature__descripstion__hidden {
    display: none;
  }
  
  .feature__descripstion h4,
  .feature__descripstion__hidden h4 {
    color: var(--second);
    margin-top: 15px;
    font-family: 'Inter';
    font-weight: 600;
    line-height: 18px;
    text-align: center;
    font-size: 18px;
  }
  
  .feature__descripstion p,
  .feature__descripstion__hidden p {
    color: var(--river-bed);
    font-family: 'Inter';
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    width: 300px;
    margin-top: 10px;
  }

  @media only screen and (min-width: 576px) {
    .feature-img img {
      width: 54px;
      height: 54px;
      object-fit: fill;
    }
  
  }

  @media only screen and (min-width: 992px) {
    .feature-img img {
      width: 64px;
      height: 64px;
      object-fit: fill;
    }
  
  .feature-img {
      margin-top: 20px;
      text-align: left;
  }
    
    .feature {
      flex-wrap: wrap;
      justify-content: center;
      margin-top: 55px;
      margin-bottom: 3px;
      display: flex;
      gap: 0px;
    }
    
    .feature__descripstion,
    .feature__descripstion__hidden {
      display: block;
      width: 23%;
      margin: 2px 10px 2px 30px;
      padding: 17px;
      display: inline-block;
    }
    
    .feature__descripstion {
      margin-top: 10px;
    }

    .feature__descripstion h4,
    .feature__descripstion__hidden h4 {
      color: var(--second);
      margin-top: 15px;
      font-family: 'Inter';
      font-weight: 600;
      line-height: 18px;
      text-align: left;
      font-size: 18px;
    }
    
    .feature__descripstion p,
    .feature__descripstion__hidden p {
      color: var(--river-bed);
      font-family: 'Inter';
      font-size: 16px;
      font-weight: 400;
      line-height: 24px;
      text-align: left;
      width: 124%;
      margin-top: 10px;
    }
  }
  @media only screen and (min-width: 1400px) {
    .feature {
      width: 93%;
    }
    .feature__descripstion p,
    .feature__descripstion__hidden p {
      width: 102%;
  }
}

