.product__content {
  flex-direction: column;  
  @extend %flex-center;
  margin-left: 0px;
  margin-bottom: 11px;
  margin-right: 4px;
  margin-top: 23px;
}

.ad-feature p {
  width: 308px;
  color: var(--river-bed);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  font-family: "Inter", sans-serif;
  margin-left: 31px;
  margin-top: 6px;
}

.ad-feature:hover {
  background-color: #F6F3FC;
  border-bottom: 8px solid var(--violet);
  border-radius: 8px 8px 0px 0px;
}

.ad-feature h4 {
  font-size: 18px;
  font-family: 'Inter';
  font-weight: 600;
  line-height: 26px;
  margin-bottom: 1px;
  margin-top: 5px;
}

.ad-feature {
  text-align: center;
  margin-top: 1px;
  width: 368px;
  height: 118px;
  justify-content: center;
  display: flex;
  flex-direction: column;
  margin-right: 1px;
  border-bottom: 8px solid transparent;
}

.ad-feature::after {
  border-bottom: 8px solid transparent;
}

.ad-feature img {
  width: 86%;
  height: auto;
}

.line {
  width: 368px;
}

@media only screen and (min-width: 992px) {
  .product__content {
      flex-direction: column;
      margin-right: 21px;
      display: flex;
      margin-top: -3px;
  }

  .ad-feature p {
      color: var(--river-bed);
      font-size: 16px;
      font-weight: 400;
      line-height: 24px;
  }

  .ad-feature {
      text-align: left;
      margin-top: 0px;
      width: 368px;
      height: 128px;          
      border-left: 8px solid transparent; 
      border-bottom: none;
  }

  .ad-feature::after {
    border-bottom: 8px solid transparent; 
  }

  .ad-feature:hover {
      background-color: #F6F3FC;
      border-radius: 0px 8px 8px 0px;
      border-left: 8px solid var(--violet);
      border-bottom: none;
  }

  .ad-feature h4 {
      font-size: 18px;
      font-family: 'Inter';
      font-weight: 600;
      line-height: 26px;
      margin-bottom: 0px;
      margin-left: 30px;
      margin-top: 2px;
  }

  .line {
      margin-left: 17px;
  }

}

@media only screen and (min-width: 1400px) {
  .product__content {
      margin-right: 56px;
      margin-top: 38px;
  }

  .ad-feature p {
      margin-left: 25px;
      margin-bottom: 3px;
  }

  .ad-feature h4 {
      margin-left: 25px;
      margin-top: 0px;
  }  
}
