.about-us {
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 414px;
  display: flex;
  margin-top: 50px;
}

.install-section {
  background-color: #796EFF;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 292px;
  display: flex;
  flex-direction: column;
  background-repeat: no-repeat;
  margin-top: 56px;
  margin-right: 12px;
}

h3 {
  color: var(--primary);
  width: 322px;
  font-family: 'Inter', sans-serif;
  text-align: center;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 32px;
}

.install-app {
  margin-right: 10px;
  display: flex;
  gap: 15px;
  flex-direction: column;
}

@media only screen and (min-width: 415px) {
  .about-us {
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      gap: 6px;
      width: 1440px;
      height: 786px;
      display: flex;
      margin: auto;
      margin-bottom: 100px;
  }

  .install-section {
    background-image: url(../../assets/image/install-section.png);
      justify-content: space-evenly;
      align-items: left;
      width: 1110px;
      height: 224px;
      border-radius: 16px;
      flex-direction: row;
      margin-right: 0px;
  }

  h3 {
      width: 423px;
      height: 96px;
      text-align: left;
      font-size: 32px;
      font-style: normal;
      font-weight: 600;
      line-height: 48px;
      margin-left: 10px;
      margin-top: 2px;
  }

  .install-app {
      margin-left: 70px;
      margin-top: 8px;
      display: flex;
      gap: 24px;
      flex-direction: row;

  }
}