.banner {
  background-image: url(../../../../Practice02/src/assets/image/bgbanner.png);
  background-repeat: no-repeat;
  background-size: 100% 86%;
  border: 1px;
  margin-top: -12px;
  margin-bottom: 60px;
}

.banner__sign-up {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
}

.banner__discount {
  justify-content: center;
  align-items: flex-end;
  width: 100%;
  height: 80px;
  display: flex;
}

.banner__save {
  display: none;
}

.banner__get-acc {
  width: 160px;
  height: 21px;
  background-color: #F2F9EB;
  color: var(--Limed-Spruce);
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  border-radius: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.banner__get-acc a {
  background-color: #F2F9EB;
  color: #35414B;
  font-family: 'Inter', sans-serif;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 13px;
  color: var(--Limed-Spruce);
  text-decoration: none;
}

.banner__content {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 218px;
  display: flex;
}

.banner__heading {
  width: 65%;
  color: var(--Limed-Spruce);
  text-align: center;
  font-family: 'Inter', sans-serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: 40px;
}

.banner__simple-text {
  text-align: center;
  color: var(--River-Bed);
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  width: 72%;
}

.banner__box {
  justify-content: center;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.text-box {
  background-color: var(--primary);
  border: 1px solid #E1E5EA;
  border-radius: 4px;
  width: 293px;
  height: 52px;
}

input[type=text] {
  padding-left: 20px;
}

.submit {
  background-color: var(--Violet);
  color: var(--primary);
  cursor: pointer;
  letter-spacing: 0;
  text-align: center;
  border: 1px;
  border-radius: 4px;
  width: 318px;
  height: 52px;
  font-size: 16px;
  font-weight: 500;
  line-height: 16px;
}

.submit:hover,
.chart-button:hover {
  background-color: var(--Perano);
}

.graph {
  justify-content: center;
  width: 384px;
  height: 273.288px;
  display: flex;
  margin-top: 10px;
}

.graph-img {
  width: 100%;
  height: 100%;
}

.banner__media-logo {
  flex-direction: column;
  justify-content: center;
  width: 414px;
  display: flex;
  margin-top: 56px;
}

.banner__media-logo p {
  text-align: center;
  color: var(--River-Bed);
  letter-spacing: 0;
  font-family: 'Inter', sans-serif;
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
  line-height: 11px;
}

.banner__media-logo b {
  letter-spacing: 0;
  text-align: center;
  color: var(--River-Bed);
  font-family: 'Inter', sans-serif;
  font-size: 11px;
  font-style: normal;
  font-weight: 700;
  line-height: 11px;
}

@media only screen and (min-width: 576px) {
  .banner {
    background-image: url(../../../../Practice02/src/assets/image/bgbanner.png);
    background-size: 100% 60%;
  }
  .banner__heading {
    font-size: 42px;
    width: 86%;
    line-height: 50px;
  }
  .graph {
    width: 472px;
    height: 361.288px;
  }
  .banner__simple-text {
    width: 79%;
    margin-top: 16px;
}
}


@media only screen and (min-width: 992px) {
  .banner {
      background-size: 100% 60%;
      width: 1440px;
      margin: auto;
      margin-bottom: 100px;
      margin-top: -9px;
  }

  .banner__save {
      display: block;
      text-align: center;
      color: var(--primary);
      z-index: 1;
      background-color: #81C43B;
      border-radius: 100px;
      width: 108px;
      height: 33px;
      position: sticky;
  }

  .banner__get-acc {
      width: 198px;
      height: 34px;
      margin-left: -15px;
      border-radius: 0px 100px 100px 0px;
  }

  .banner__discount {
    justify-content: center;
    align-items: flex-end;
    width: 100%;
    height: 79px;
    margin-left: 10px;
    display: flex;
}

  .banner__get-acc a {
      font-family: 'Inter', sans-serif;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 16px;
      text-decoration: none;
      color: var(--Limed-Spruce);
  }
  
  .banner__get-acc p {
    padding-bottom: 3px;
  }

  .banner__save p {
      padding: 7px 0px 0px 3px;
  }

  .banner__get-acc p:hover {
      background: #DCECCB;
      width: 198px;
      height: 24px;
      border-radius: 0px 100px 100px 0px;
      padding-top: 5px;
  }


  .banner__content {
      gap: 23px;
  }


  .banner__heading {
      width: 800px;
      height: 144px;
      margin-right: 30px;
      font-size: 63px;
      font-weight: 700;
      line-height: 70px;
  }

  .banner__simple-text {
      color: var(--River-Bed);
      font-family: 'Inter', sans-serif;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 25px;
      width: 52%;
      height: 48px;
      margin-bottom: 5px;
      margin-right: 48px;
  }

  .banner__box {
      justify-content: center;
      display: inline;
      height: 60px;
      margin-left: 0px;
      margin-top: -4px;
      margin-bottom: -9px;
  }

  .text-box {
      background-color: var(--primary);
      border: 1px solid #E1E5EA;
      border-radius: 4px 0px 0 4px;
      width: 322px;
      height: 48px;
  }

  .submit {
      background-color: var(--Violet);
      color: var(--primary);
      cursor: pointer;
      letter-spacing: 0;
      text-align: center;
      border: 1px;
      border-radius: 0 4px 4px 0;
      width: 165px;
      height: 52px;
      font-size: 16px;
      font-weight: 500;
      line-height: 16px;
      margin-left: -35px;
  }

  input[type=text] {
      padding-left: 20px;
  }

  .graph {
      width: 1000px;
      height: 734.29px;
      margin-right: 2px;
      display: flex;
  }

  .banner__media-logo {
      width: 1440px;
      margin-top: 61px;
  }

  .banner__media-logo p {
      font-size: 16px;
      font-style: normal;
      line-height: 16px;
  }

  .banner__media-logo b {
      font-size: 16px;
      line-height: 16px;
  }

}