.charts {
  background-color: #fbfafe;;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 538px;
}

.chart__content {
  flex-direction: column;
  display: flex;
  order: 2;
  margin-bottom: 6px;
  gap: 16px;
  align-items: center;
}

.chart-image {
  width: 384px;
  height: 260.648px;
  margin-top: 32px;
  margin-left: 10px;
}

.chart-image img {
  width: 100%;
  height: 100%;
}

.chart__content h2 {
  text-align: center;
  width: 190px;
  font-family: 'Inter', sans-serif;
  color: var(--second);
  font-size: 18px;
  font-weight: 600;
  line-height: 24px;
  margin-top: 32px;
}

.chart__content p {
  font-family: 'Inter', sans-serif;
  color: var(--River-Bed);
  width: 72%;
  font-size: 16px;
  color: #4E5A65;
  text-align: center;
  font-weight: 400;
  line-height: 24px;
  margin-top: 5px;
}

.chart-button {
  background-color: #796EFF;
  color: var(--primary);
  cursor: pointer;
  border: none;
  border-radius: 4px;
  padding-top: 4px;
  padding-left: 0;
  font-size: 16px;
  width: 318px;
  height: 52px;
  flex-shrink: 0;
  margin-bottom: 32px;
}

@media only screen and (min-width: 576px) {
  .chart-image {
    width: 400px;
    height: 300.648px;
    margin-top: 32px;
    margin-left: 10px;
  }
}

@media only screen and (min-width: 992px) {
  .charts {
      background-image: url(../../assets/image/bgcharts.png);
      justify-content: center;
      align-items: center;
      gap: 70px;
      height: 541px;
      display: flex;
      flex-direction: row;
      width: 1440px;
      margin: auto;
  }

  .chart__content {
      flex-direction: column;
      display: flex;
      order: 0;
      gap: 25px;
      margin-top: 5px;
      margin-bottom: 5px;
      margin-right: 2px;
      text-align: flex-start;
  }

  .chart-image {
      width: 596.39px;
      height: 404.684px;
      margin-top: 0px;
      margin-left: 15px;
  }

  .chart-image img {
      width: 100%;
      height: 100%;
  }

  .chart__content h2 {
      text-align: left;
      width: 341px;
      height: 96px;
      font-size: 40px;
      font-weight: 600;
      line-height: 48px;
      margin-left: -8px;
  }

  .chart__content p {
      width: 413px;
      color: #4E5A65;
      text-align: left;
      margin-top: 0px;
      margin-left: -8px;
  }

  .chart-button {
      padding-left: 0;
      font-size: 16px;
      width: 164px;
      height: 52px;
      flex-shrink: 0;
      margin-top: 4px;
      margin-left: -10px;
      padding-bottom: 3px;
  }
}