footer {
  background-color: var(--Ebony-Clay);
  flex-direction: column;
  justify-content: space-around;
  width: 414px;
  height: 483px;
  margin-top: 56px;
  display: flex;
  margin-left: -6px;
}

.company ul,
.support ul,
.legal ul {
  display: none;
}

.company,
.support,
.legal,
.app {
  display: flex;
  justify-content: space-between;
}

.footer__content {
  flex-flow: row;
  justify-content: space-around;
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  margin-left: 20px;
  gap: 37px;
}

.company p,
.support p,
.legal p,
.app p {
  color: var(--primary);
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 16px;
  margin-left: 30px;
}

.app {
  display: flex;
  flex-direction: column;
}

.footer__install-app {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-left: 30px;
  margin-top: 18px;
  margin-bottom: 20px;
}

.vector {
  margin-right: 46px;
}

.line-footer {
  border: 0.1px solid var(--primary);
  color: var(--primary);
  opacity: 0.1;
  width: 428px;
  margin-bottom: -30px;
}

.social-icon {
  display: none;
}

.copy-right {
  color: #D9DBE1;
  margin-left: 32px;
  font-family: 'Inter', sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 14px;
  padding: 20px;
  margin-top: 14px;
}

.app a {
  width: 20px;
}

@media only screen and (min-width: 415px) {
  footer {
      align-items: center;
      width: 100%;
      margin-top: 56px;
      display: flex;
  }

  .footer__content {
      flex-flow: row;
      justify-content: space-evenly;
      display: flex;
      width: 1340px;
      height: 280px;
      margin-top: 82px;
      margin-right: 90px;
  }

  .company ul,
  .support ul,
  .legal ul {
      display: block;
      list-style-type: none;
      margin: 0;
      padding: 0;
  }

  .company ul li,
  .support ul li,
  .legal ul li {
      padding-bottom: 23px;
      width: 128px;
      height: 16px;
      cursor: pointer;
      margin-left: 30px;
  }

  .company ul li a,
  .support ul li a,
  .legal ul li a {
      text-decoration: none;
      color: var(--primary);
      font-weight: 400;
      font-size: 16px;
      line-height: 16px;
  }

  .company,
  .support,
  .legal,
  .app {
      display: flex;
      flex-direction: column;
      cursor: pointer;
      justify-content: space-evenly;
  }

  .company {
      margin-left: 15px;
  }

  .support {
      margin-right: 18px;
      margin-bottom: 40px;
  }

  .legal {
      margin-right: 49px;
      margin-bottom: 40px;
  }

  .app {
      margin-right: 17px;
  }

  .app {
      display: flex;
      flex-direction: column;
      margin-top: 15px;
  }

  .footer__install-app {
      display: flex;
      flex-direction: column;
      gap: 10px;
      margin-bottom: 60px;
  }

  .vector {
      display: none;
  }

  .line-footer {
      width: 100%;
      margin-top: 5px;
  }

  .footer__gg-play:hover,
  .footer__app-store:hover {
      transform: scale(1.1);
  }

  .footer__copy-right {
      justify-content: space-around;
      display: flex;
  }

  .copy-right {
      width: 577px;
      height: 14px;
      margin-top: 33px;
      margin-left: 3px;
      font-size: 15px;
      font-style: normal;
      font-weight: 400;
      line-height: 14px;
  }

  .social-icon {
      display: block;
      gap: 23px;
      margin-right: 27px;
      display: flex;
      margin-top: 40px;
  }

  .app a {
      width: 20px;
  }

}