.functions {
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 1440px;
    height: 648px;
    margin: auto auto 52px;
    display: flex;
}

h2 {
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 40px;
    line-height: 40px;
    color: var(--Limed-Spruce);
    font-style: normal;
}



.functions__headline {
    margin-top: 94px;
    margin-right: 17px;
}

