.header {
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 54px;
  margin-top: 13px;
  display: flex;
}

.header__logo {
  width: 92px;
  height: 24px;
  margin-left: 30px;
  margin-top: 2px;
  cursor: pointer;
}

.header__nav {
  display: none;
  margin-left: 32px;
  margin-top: 10px;
}

.header__nav-list {
  display: none;
}

.header__login-get-free a {
  display: none;
}

.header-button {
  display: none;
}

.menu {
  display: flex;
  flex-direction: column;
}

.menu-icon {
  margin-top: 15px;
  margin-right: 30px;
  background: none;
  border: none;
  cursor: pointer;
}

.menu p {
  width: 24px;
  height: 8px;
  color: #4E5A65;
  text-align: center;
  font-family: 'Inter';
  font-size: 8px;
  font-style: normal;
  font-weight: 400;
  line-height: 8px;
  margin-left: 6px;
  margin-top: 2px;
}

@media only screen and (min-width: 576px) {
  .header__logo {
    margin-top: 10px;
  }
  .header__logo img {
      object-fit: fill;
      width: 110px;
  }
  .menu-icon {
    margin-top: 30px;
  }
  .menu-icon img {
    width: 28px;
  }
  .menu p {
    font-size: 10px;
  }
}

@media only screen and (min-width: 992px) {
  .header {
      justify-content: space-evenly;
      align-items: center;
      width: 87%;
      height: 158px;
      margin: auto;
      display: flex;
  }

  .header__logo {
      width: 92px;
      height: 24px;
      margin-left: 20px;
      margin-top: 0px;
  }

  .header__logo img {
    object-fit: fill;
    width: 90px;
  }

  .header__nav {
      display: block;
      margin-left: 37px;
      margin-top: 10px;
  }

  .header__nav-list {
      display: block;
      align-items: center;
      gap: 23px;
      margin-bottom: 6px;
      margin-left: 49px;
      display: flex;
  }

  .header__nav-list li a {
      color: var(--Limed-Spruce);
      opacity: 0.7;
      cursor: pointer;
      margin-top: 8px;
      margin-right: 6px;
      font-size: 16px;
      font-weight: 400;
      line-height: 16px;
      text-decoration: none;
  }

  nav li:hover {
      color: black;
  }

  .header__nav {
      display: flex;
  }

  .header__login-get-free {
    margin-right: 5px;
    margin-bottom: 0px;
      display: flex;
  }

  .header__login-get-free a {
      display: block;
      color: var(--Limed-Spruce);
      opacity: 0.7;
      margin-right: 19px;
      font-size: 16px;
      font-weight: 400;
      line-height: 16px;
      text-decoration: none;
      margin-top: 18px;
  }

  .header-button:hover {
      background-color: var(--Perano);
  }

  .header__login-get-free a :hover {
      color: var(--black);
  }

  .header-button {
      display: block;
      background-color: #ECE5FF;
      color: var(--violet);
      margin-right: 14px;
      padding: 10px 29px;
      font-size: 16px;
      font-weight: 500;
      line-height: 16px;
      border: none;
      height: 48px;
      border-radius: 4px;
  }
  .menu {
      display: none;
  }
}

@media only screen and (min-width: 1400px) {
  .header {
    width: 81%;
  }
  .header__logo {
    width: 92px;
    height: 25px;
    margin-left: 21px;
    margin-top: 0px;
}
  .header__nav-list {
    margin-bottom: 6px;
    margin-left: 49px;
    gap: 23px;
}

  .header__login-get-free {
    margin-right: 31px;
    margin-bottom: 0px;
    display: flex;
}
}