@import url("./base/reset.css");
@import url("./base/typo.css");
@import url("./abstracts/varibles.css");


body {
    font-family: 'Inter', sans-serif;
    color: var(--Limed-Spruce);
}

.banner {
    background-image: url(../assets/image/bgbanner.png);
    border: 1px;
    margin-top: -9px;
    background-repeat: no-repeat;
    height: 1485px;
    background-size: 100% 57%;
    margin-bottom: 35px;
}

.header {
    display: flex;
    align-items: center;
    height: 155px;
    justify-content: space-evenly;
    width: 1440px;
    margin: auto;
}

.container {
    width: 1440px;
}

.header__nav {
    margin-right: 26px;
}

.header__nav-list {
    margin-left: 50px;
    margin-bottom: 4px;
    display: flex;
    align-items: center;
    gap: 23px;
}

.header__nav-list li {
    color: var(--Limed-Spruce);
    font-size: 16px;
    font-weight: 400;
    opacity: 0.7;
    line-height: 16px;
    cursor: pointer;
    margin-right: 10px;
    margin-top: 8px;
}

.header__logo {
    color: var(--Ebony-Clay);
    font-size: 24px;
    font-family: Josefin Sans;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: -1.44px;
    width: 92px;
    height: 24px;
    cursor: pointer;
    margin-left: 24px;
}

nav li:hover {
    color: black;
}

.header__nav {
    display: flex;
}

.header__login-get-free a {
    text-decoration: none;
    color: var(--Limed-Spruce);
    font-size: 16px;
    font-weight: 400;
    opacity: 0.7;
    line-height: 16px;
    margin-left: 15px;
}

.header__login-get-free a.active:hover {
    background-color: #b4aef6;
}

.header__login-get-free a :hover {
    color: var(--black);
}

a.active {
    background-color: var(--Blue-Chalk);
    color: var(--Violet);
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px;
    padding: 15px 29px;
    margin-right: 32px;
}

.active {
    width: 169px;
    height: 48px;
    border-radius: 4px;
}

.banner__sign-up {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.banner__discount {
    display: flex;
    justify-content: center;
    height: 82px;
    width: 100%;
    align-items: flex-end;
}

.banner__get-acc {
    width: 197px;
    height: 32px;
    border-radius: 0px 100px 100px 0px;
    background-color: #F2F9EB;
    text-align: center;
    color: #35414B;
    font-size: 16px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    cursor: pointer;
    margin-left: -12px;
}

.banner__save {
    border-radius: 100px;
    width: 108px;
    height: 32px;
    text-align: center;
    background-color: #81C43B;
    color: var(--white);
    z-index: 1;
    position: sticky;
}

.banner__save p,
.banner__get-acc p {
    padding: 7px 0px 0px 3px;
}

.banner__get-acc p:hover {
    background: #dceccb;
    width: 209px;
    height: 25px;
    border-radius: 0px 100px 100px 0px;
}

.banner__content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 267px;
    gap: 23px
}

.banner__heading {
    color: var(--Limed-Spruce);
    font-family: 'Inter', sans-serif;
    text-align: center;
    font-weight: 700;
    font-size: 66px;
    line-height: 72px;
    width: 830px;
    height: 144px;
}

.banner__simple-text {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 17px;
    line-height: 25px;
    text-align: center;
    color: var(--River-Bed);
    width: 508px;
    height: 48px;
    margin-left: -20px;
}

.banner__box {
    display: flex;
    justify-content: center;
    margin: -2px 0px 0px -12px;
    height: 60px;
}

.text-box {
    width: 320px;
    height: 45px;
    border-radius: 4px 0px 0px 4px;
    background-color: var(--white);
    border: 1px solid #E1E5EA;
}

::placeholder {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    color: #97A5B5;
    padding: 18px 99px 18px 22px;
}

.submit {
    width: 166px;
    height: 49px;
    border-radius: 0px 4px 4px 0px;
    border: 1px;
    background-color: var(--Violet);
    color: var(--white);
    margin-left: -12px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: center;
}

.submit:hover,
button:hover {
    background-color: #b4aef6;
}

.graph {
    display: flex;
    justify-content: center;
    width: 1000px;
    height: 730.29px;
    margin-left: -10px;
}

.graph-img {
    width: 100%;
    height: 100%;
}

.banner__media-logo {
    justify-content: center;
    display: flex;
    flex-direction: column;
    height: 191px;
    width: 1440px;
}

.banner__media-logo p {
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    line-height: 16px;
    text-align: center;
    color: var(--River-Bed);
    font-weight: 400;
    letter-spacing: 0em;
    margin-left: -10px;
}

.banner__media-logo b {
    font-size: 16px;
    font-weight: 700;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: center;
}

.banner__logo {
    width: 1342px;
    display: flex;
    justify-content: space-evenly;
    margin-top: 22px;
}

.gg {
    width: 80px;
    height: 26.11px;
}

.gg img {
    margin-left: 86px;
}

.air {
    width: 80px;
    height: 24.96px;
}

.air img {
    margin-left: 64px;
}

.fb {
    width: 77.17px;
    height: 15.82px
}

.fb img {
    margin-left: 37px;
    margin-top: 4px
}

.hub {
    width: 80px;
    height: 23.3px;
}

.hub img {
    margin-top: 2px;
    margin-left: 19px;
}

.slack {
    width: 80px;
    height: 20.24px;
}

.slack {
    margin-top: 2px
}

.gg,
.air,
.fb,
.hub,
.slack img {
    cursor: pointer;
}

.gg:hover,
.air:hover,
.fb:hover,
.hub:hover,
.slack:hover {
    transform: scale(1.3);
}

.product {
    background-image: url(../assets/image/bgintro.png);
    background-repeat: round;
    height: 641px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 74px;
}

.survey-feature p,
.ad-feature p {
    color: var(--River-Bed);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

.timeline {
    width: 657px;
    height: 518px;
    border-radius: 4px;
    margin-left: 7px;
}

.survey-feature {
    background-color: #f6f3fc;
    border-left: 8px solid var(--Violet);
    width: 368px;
    height: 128px;
    border-radius: 0px 8px 8px 0px;
    margin-top: -1px;
}

.product__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 22px;
    margin-left: 5px;
}

.ad-feature p,
.survey-feature p {
    width: 308px;
}

.ad-feature p,
.ad-feature-title {
    margin-left: 33px;
}

.survey-feature-title {
    margin-top: -5px;
    margin-bottom: 5px;
}

.survey-feature p {
    margin-left: 24px;

}

.survey-feature,
.ad-feature,
.feature__descripstion img,
.title,
.feature__descripstion p {
    cursor: pointer;
}

.text {
    transform: translateY(35%);
}

.survey-feature-title,
.ad-feature-title {
    color: #35414B;
    font-size: 18px !important;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 600 !important;
    line-height: 26px !important;
}

.line {
    margin-top: 27px;
    margin-left: 17px;
}

h2 {
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 40px;
    line-height: 40px;
    margin-left: px;
    color: var(--Limed-Spruce);
    font-style: normal;
}

.functions {
    display: flex;
    flex-direction: column;
    height: 648px;
    align-items: center;
    justify-content: space-around;
    width: 1440px;
    margin: auto;
    margin-bottom: 52px;
}

.functions__headline {
    margin-top: 86px;
}

.feature {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-left: 85px;
}

.feature__descripstion {
    width: 23%;
    display: inline-block;
    padding: 36px;
    margin: 2px 10px 10px 2px;
}

.feature__descripstion p {
    font-family: 'Inter', sans-serif;
    font-weight: 400px;
    font-size: 16px;
    line-height: 24px;
    color: var(--River-Bed);
    margin: 6px 0px 0px 4px;
}

h4 {
    font-family: 'Inter', sans-serif;
    font-size: 18px !important;
    font-weight: 600;
    line-height: 18px;
    color: var(--Limed-Spruce);
    margin-top: px;
}

.charts {
    background-image: url(../assets/image/bgcharts.png);
    height: 541px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 92px;
}

.chart-image {
    margin-top: 2px;
    margin-right: 28px;
}

.chart__content {
    display: flex;
    flex-direction: column;
    gap: 25px;
    margin-top: 2px;
    margin-left: 21px;
}

.chart__content h2 {
    width: 341px;
    height: 96px;
    font-family: 'Inter', sans-serif;
    font-size: 40px;
    font-weight: 600;
    line-height: 48px;
    text-align: left;
    margin-left: -8px;
}

.chart__content p {
    width: 413px;
    height: 72px;
    line-height: 24px;
    color: var(--River-Bed);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    margin-left: -8px;
}

button {
    width: 164px;
    height: 52px;
    border-radius: 4px;
    background-color: #796EFF;
    color: var(--white);
    font-size: 16px;
    border: none;
    cursor: pointer;
    padding-top: 4px;
    padding-left: 0px;
    margin-top: 5px;
    margin-left: -8px;
}

.about-us {
    width: 100%;
    height: 787px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 6px;
}

.about-us__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    justify-content: center;
    margin-top: 60px;
}

.about-us__content h2 {
    width: 394px;
    height: 96px;
    line-height: 48px;
    margin-top: 41px;
    text-align: center;
    margin-right: 10px;
}

.about-us__content p {
    width: 543px;
    height: 96px;
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    text-align: center;
    margin-left: 30px;
    margin-top: -2px;
}

.customers-feedbacks {
    display: flex;
    height: 126px;
    gap: 160px;
    margin-bottom: 62px;
    margin-left: 10px;
}

.baseline {
    width: 264px;
    height: 4px;
}

.baseline--visibility-hidden {
    visibility: hidden;
}

.baseline img {
    width: 100%;
    height: 100%;
}

.customer-ava {
    width: 48px;
    height: 48px;
}

.customer-pro {
    display: flex;
    cursor: pointer;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.customer-infor {
    display: flex;
    align-items: center;
}

.name-job {
    margin-left: 20px;
}

.name,
.job {
    font-size: 16px;
    line-height: 16px;
    color: var(--River-Bed);
}

.name {
    font-weight: 600;
    margin-left: -3px;
    margin-top: -4px;
}

.job {
    font-weight: 400;
    margin-top: 7px;
    margin-left: -3px;
}

.install-section {
    background-image: url(../assets/image/install-section.png);
    width: 1111px;
    height: 224px;
    border-radius: 16px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-right: 6px;
}

h3 {
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 32px;
    line-height: 48px;
    color: var(--white);
    margin-left: 12px;
    margin-top: 2px;
    width: 423px;
    height: 96px;
}

.install-app {
    display: flex;
    gap: 20px;
    margin-right: 8px;
}

.app-store {
    margin-left: 4px
}

.app-store,
.gg-play {
    cursor: pointer;
}

.gg-play:hover,
.app-store:hover {
    transform: scale(1.1);
}

footer {
    width: 100%;
    height: 417px;
    background-color: var(--Ebony-Clay);
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer__content {
    display: flex;
    flex-flow: row;
    justify-content: space-evenly;
    margin-top: 82px;
    margin-right: 83px;
    height: 280px;
    width: 1340px;
}

.company ul,
.support ul,
.app ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.company ul li,
.support ul li,
.legal ul li {
    padding-bottom: 23px;
    width: 128px;
    height: 16px;
    cursor: pointer;
    margin-left: 2px;
}

.company ul li a,
.support ul li a,
.legal ul li a {
    text-decoration: none;
    color: var(--white);
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
}

.company,
.support,
.legal {
    cursor: pointer;
}

.company {
    margin-left: 14px;
}

.support {
    margin-right: 14px;
}

.legal {
    margin-right: 48px;
}

.app {
    margin-right: 17px;
}

.footer__content p {
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 16px;
    color: var(--white);
    margin-bottom: 24px;
}

.footer__install-app img {
    margin-left: -2px;
}

.footer__gg-play {
    margin-bottom: 11px;
    cursor: pointer;
}

.footer__app-store {
    display: flex;
    cursor: pointer;
}

.footer__gg-play:hover,
.footer__app-store:hover {
    transform: scale(1.1);
}

.line-footer {
    border: 0.1px solid var(--white);
    width: 100%;
    color: var(--white);
    opacity: 0.1;
    margin-top: 5px;
}

.footer__copy-right {
    display: flex;
    justify-content: space-around;
}

.copy-right {
    width: 577px;
    height: 14px;
    color: #D9DBE1;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px;
    margin-top: 34px;
    margin-left: 6px;
}

.social-icon {
    display: flex;
}

.icon {
    padding: 24px 24px 24px 0;
    cursor: pointer;
}

.banner__logo img,
.timeline img,
.customer-ava img {
    width: 100%;
    height: 100%;
}
