::placeholder {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    color: #97A5B5;
    padding: 18px 61px;
}

@media only screen and (min-width: 415px) {
    ::placeholder {
        font-family: 'Inter', sans-serif;
        padding: 18px 99px 18px 2px;
    }
}
