:root {
    --white: #FFF;
    --black: #000;
    --Limed-Spruce: #35414B;
    --Ebony-Clay: #1D2830;
    --Violet: #794CFF;
    --River-Bed: #4E5A65;
    --Blue-Chalk: #ECE5FF;
    --Perano: #B4AEF6;
    --White-Lilac: #F6F3FC;
    --Cornflower-Blue: #796EFF;
    --Mischka: #D9DBE1;
    --Sushi: #81C43B;
    --Chrome-White: #DCECCB;
    --Athens-Gray: #E1E5EA;
    --Gull-Gray: #97A5B5;
    --Frost: #F2F9EB;
  }
