

:root {
  --primary: #FFF;
  --second: #35414B; 
  --black: #000;
  --Ebony-Clay: #1D2830;
  --Violet: #794CFF;
  --River-Bed: #4E5A65;
  --Perano: #B4AEF6;
}

.header {
  justify-content: space-between;
  align-items: center;
  width: 414px;
  height: 54px;
  margin-top: 13px;
  display: flex;
}

.header__logo {
  width: 92px;
  height: 24px;
  margin-left: 10px;
  margin-top: 2px;
  cursor: pointer;
}

.header__nav {
  display: none;
  margin-left: 32px;
  margin-top: 10px;
}

.header__nav-list {
  display: none;
}

.header__login-get-free a {
  display: none;
}

.header-button {
  display: none;
}

.menu {
  display: flex;
  flex-direction: column;
}

.menu-icon {
  margin-top: 20px;
  margin-right: 15px;
  background: none;
  border: none;
  cursor: pointer;
}

.menu p {
  width: 24px;
  height: 8px;
  color: #4E5A65;
  text-align: center;
  font-family: 'Inter', sans-serif;
  font-size: 8px;
  font-style: normal;
  font-weight: 400;
  line-height: 8px; 
  margin-left: 6px;
  margin-top: 2px;
}

.banner {
  background-image: url(../../../../Practice02/src/assets/image/bgbanner.png);
  background-repeat: no-repeat;
  background-size: 100% 90%;
  border: 1px;
  margin-top: -12px;
  margin-bottom: 60px;
  width: 414px;
  margin-left: -8px;
}

.banner__sign-up {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
}

.banner__discount {
  justify-content: center;
  align-items: flex-end;
  width: 100%;
  height: 80px;
  display: flex;
}

.banner__save {
  display: none;
}

.banner__get-acc {
  width: 160px;
  height: 21px;
  background-color: #F2F9EB;
  color: var(--Limed-Spruce);
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  border-radius: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.banner__get-acc a {
  background-color: #F2F9EB;
  color: #35414B;
  font-family: 'Inter', sans-serif;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 13px; 
  color: var(--Limed-Spruce);
  text-decoration: none;
}

.banner__content {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 267px;
  display: flex;
}

.banner__heading {
  width: 318px;
  color: var(--Limed-Spruce);
  text-align: center;
  font-family: 'Inter', sans-serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: 40px; 
}

.banner__simple-text {
  text-align: center;
  color: var(--River-Bed);
  text-align: center;
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; 
  width: 318px;
}

.banner__box {
  justify-content: center;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.text-box {
  background-color: var(--primary);
  border: 1px solid #E1E5EA;
  border-radius: 4px;
  width: 293px;
  height: 52px;
}

::placeholder {
  font-family: 'Inter', sans-serif;
  color: #97A5B5;
  padding: 18px 45px;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
}

input[type=text] {
  padding-left: 20px;
}

.submit {
  background-color: var(--Violet);
  color: var(--primary);
  cursor: pointer;
  letter-spacing: 0;
  text-align: center;
  border: 1px;
  border-radius: 4px;
  width: 318px;
  height: 52px;
  font-size: 16px;
  font-weight: 500;
  line-height: 16px;
}

.submit:hover,
.chart-button:hover {
  background-color: var(--Perano);
}

.graph {
  justify-content: center;
  width: 384px;
  height: 273.288px;
  display: flex;
  margin-top: 10px;
}

.graph-img {
  width: 100%;
  height: 100%;
}

.banner__media-logo {
  flex-direction: column;
  justify-content: center;
  width: 414px;
  display: flex;
}

.banner__media-logo p {
  text-align: center;
  color: var(--River-Bed);
  letter-spacing: 0;
  font-family: 'Inter', sans-serif;
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
  line-height: 11px; 
}

.banner__media-logo b {
  letter-spacing: 0;
  text-align: center;
  color: var(--River-Bed);
  font-family: 'Inter', sans-serif;
  font-size: 11px;
  font-style: normal;
  font-weight: 700;
  line-height: 11px;
}

.banner__logo {
  justify-content: center;
  margin-top: 10px;
  display: flex;
  gap: 40px;
}

.gg {
  object-fit: fill;
  width: 56px;
  height: 18.278px;
}

.air {
  object-fit: fill;
  width: 56px;
  height: 17.472px;
}

.fb {
  object-fit: fill;
  width: 53.17px;
  height: 10.902px;
  margin-top: 4px;
}

.hub {
  object-fit: fill;
  width: 56px;
  height: 16.307px;   
}

.slack {
  display: none;
}

.gg,
.air,
.fb,
.hub,
.slack img {
  cursor: pointer;
}

.container {
  width: 414px;
}

.product {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #FBFAFE;
  width: 414px;
  margin-right: 15px;
}

.timeline {
  margin-top: 32px;
  border-radius: 4px;
  width: 384px;
  height: 303.094px;
}

.timeline img {
  width: 100%;
  height: 100%
}

.product__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.survey-feature p,
.ad-feature p {
    width: 308px;
    color: var(--River-Bed);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    font-family: "Inter", sans-serif;
    margin-left: 26px;
}

.survey-feature {
  background-color: #F6F3FC;
  border-bottom: 8px solid var(--Violet);
  width: 368px;
  height: 128px;
  margin-top: 20px;
  border-radius: 8px 8px 0px 0px;
  text-align: center;
}

.survey-feature h4,
.ad-feature h4 {
    font-size: 18px;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    line-height: 26px;
    margin-bottom: 1px;
}

.ad-feature {
  text-align: center;
}

.line {
  width: 368px;
}

h2 {
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 18px;
  color: var(--Limed-Spruce);
  font-style: normal;
  color: #35414B;
  text-align: center;
}

.functions {
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 414px;
  display: flex;
  margin-bottom: 30px;
}

.functions__headline {
  margin-top: 56px;
}

.feature-img img {
  width: 48px;
  height: 48px;
  object-fit: fill;
}

.feature {
  flex-wrap: wrap;
  display: flex;
  text-align: center;
  width: 100%;
  justify-content: center;
}

.feature__descripstion__hidden {
  display: none;
}

.feature__descripstion h4 {
  color: var(--second);
  margin-top: 45px;
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  line-height: 18px;
  text-align: center;
  font-size: 18px;
}

.feature__descripstion p {
  color: var(--River-Bed);
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  width: 300px;
}

.btn-view {
  width: 318px;
  height: 52px;
  border-radius: 4px;
  border: 1px solid #ECE5FF;
  background: #ECE5FF;
  color: #7259FA;
  text-align: center;
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 16px; 
  margin-top: 40px;
}

.charts {
  background-image: url(../../assets/image/bgcharts.png);
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 414px;
  margin-right: 12px;
  height: 538px;
}

.chart__content {
  flex-direction: column;
  display: flex;
  order: 2;
  margin-top: 12px;
}

.chart-image {
  width: 384px;
  height: 260.648px;
}

.chart-image img {
  width: 100%;
  height: 100%;
  margin-top: 32px;
}

.chart__content h2 {
  text-align: center;
  width: 190px;
  font-family: 'Inter', sans-serif;
  color: var(--second);
  font-size: 18px;
  font-weight: 600;
  line-height: 24px; 
  margin-left: 20%;
  margin-top: 32px;
}

.chart__content p {
  font-family: 'Inter', sans-serif;
  color: var(--River-Bed);
  width: 300px;
  font-size: 16px;
  color: #4E5A65;
  text-align: center;
  font-weight: 400;
  line-height: 24px; 
  margin-top: 5px;
}

.chart-button {
  background-color: #796EFF;
  color: var(--primary);
  cursor: pointer;
  border: none;
  border-radius: 4px;
  width: 164px;
  padding-top: 4px;
  padding-left: 0;
  font-size: 16px;
  width: 318px;
  height: 52px;
  flex-shrink: 0;
  margin-bottom: 32px;
}

.about-us {
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 414px;
  display: flex;
  margin-top: 50px;
}

.about-us__content {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
}

.about-us__content h2 {
  text-align: center;
  width: 190px;
  color: #35414B;
  text-align: center;
  line-height: 24px; 
}

.about-us__content p {
  font-family: 'Inter', sans-serif;
  width: 315px;
  color: var(--River-Bed);
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.baseline {
  display: none;
}

.baseline--visibility-hidden {
  display: none;
}

.name,
.job {
    font-family: 'Inter', sans-serif;
    color: var(--River-Bed);
    text-align: center;  
    line-height: 13px;   
    font-size: 13px;
}

.name {
  font-weight: 600;
}

.job {
  font-weight: 400;
}

.customer-infor {
  align-items: center;
  margin-right: 2px;
  display: flex;
  flex-direction: column;
  margin-top: 40px;
}

.customer-infor-hidden {
  display: none;
}

.install-section {
  background-color: #796EFF;
  justify-content: space-evenly;
  align-items: center;
  width: 414px;
  height: 292px;
  display: flex;
  flex-direction: column;
  background-repeat: no-repeat;
  margin-top: 56px;
  margin-right: 12px;
}

h3 {
  color: var(--primary);
  width: 322px;  
  font-family: 'Inter', sans-serif;
  text-align: center;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 32px;
}

.install-app {
  margin-bottom: 32px;
  margin-right: 10px;
  display: flex;
  gap: 10px;
  flex-direction: column;
}

footer {
  background-color: var(--Ebony-Clay);
  flex-direction: column;
  justify-content: space-around;
  width: 414px;
  height: 483px;
  margin-top: 56px;
  display: flex;
  margin-left: -6px;
}

.company ul,
.support ul,
.legal ul {
  display: none;
}

.company,
.support,
.legal,
.app {
  display: flex;
  justify-content: space-between;
}

.footer__content {
  flex-flow: row;
  justify-content: space-around;
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  margin-left: 20px;
}

.company p,
.support p,
.legal p,
.app p {
  color: var(--primary);
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 16px;
  margin-left: 30px;
}

.app {
  display: flex;
  flex-direction: column;
}

.footer__install-app {
  display: flex;
  flex-direction: column;
  gap: 10px; 
  margin-left: 30px;
}

.vector {
  margin-right: 46px;
}

.line-footer {
  border: 0.1px solid var(--primary);
  color: var(--primary);
  opacity: 0.1;
  width: 428px;
  margin-bottom: -30px;
}


.social-icon {
  display: none;
}

.copy-right {
  color: #D9DBE1;
  margin-bottom:25px;
  margin-left: 32px;
  font-family: 'Inter', sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 14px;
  padding: 20px;
}

.app a {
  width: 20px;
}
/*# sourceMappingURL=index.css.map */