

:root {
  --primary: #FFF;
  --second: #35414B; 
  --black: #000;
  --Ebony-Clay: #1D2830;
  --Violet: #794CFF;
  --River-Bed: #4E5A65;
  --Perano: #B4AEF6;
}

.header {
  justify-content: space-between;
  align-items: center;
  width: 414px;
  height: 54px;
  margin: auto;
  display: flex;
}

.header__logo {
  width: 92px;
  height: 24px;
  margin-left: 10px;
  margin-top: 2px;
  cursor: pointer;
}

.header__nav {
  display: none;
  margin-left: 32px;
  margin-top: 10px;
}

.header__nav-list {
  display: none;
}

.header__login-get-free a {
  display: none;
}

.header-button {
  display: none;
}

.menu {
  display: flex;
  flex-direction: column;
}

.menu-icon {
  margin-top: 20px;
  margin-right: 15px;
  background: none;
  border: none;
  cursor: pointer;
}

.menu p {
  width: 24px;
  height: 8px;
  color: #4E5A65;
  text-align: center;
  font-family: 'Inter', sans-serif;
  font-size: 8px;
  font-style: normal;
  font-weight: 400;
  line-height: 8px; 
  margin-left: 6px;
  margin-top: 2px;
}

.banner {
  background-image: url(../../assets/image/bgbanner.png);
  background-repeat: no-repeat;
  background-size: 100% 50%;
  border: 1px;
  margin-top: -9px;
  margin-bottom: 60px;
}

.banner__sign-up {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
}

.banner__discount {
  justify-content: center;
  align-items: flex-end;
  width: 100%;
  height: 80px;
  display: flex;
}

.banner__save {
  display: none;
}

.banner__get-acc {
  width: 160px;
  height: 21px;
  background-color: #F2F9EB;
  color: var(--Limed-Spruce);
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  border-radius: 100px;
}

.banner__get-acc a {
  background-color: #F2F9EB;
  color: #35414B;
  font-family: 'Inter', sans-serif;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 13px; 
  color: var(--Limed-Spruce);
  text-decoration: none;
}

.banner__content {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 267px;
  display: flex;
}

.banner__heading {
  width: 318px;
  color: var(--Limed-Spruce);
  text-align: center;
  font-family: 'Inter', sans-serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: 40px; 
}

.banner__simple-text {
  text-align: center;
  color: var(--River-Bed);
  text-align: center;
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; 
  width: 318px;
}

.banner__box {
  justify-content: center;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.text-box {
  background-color: var(--primary);
  border: 1px solid #E1E5EA;
  border-radius: 4px;
  width: 293px;
  height: 52px;
}

::placeholder {
  font-family: 'Inter', sans-serif;
  color: #97A5B5;
  padding: 18px 45px;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
}

input[type=text] {
  padding-left: 20px;
}

.submit {
  background-color: var(--Violet);
  color: var(--primary);
  cursor: pointer;
  letter-spacing: 0;
  text-align: center;
  border: 1px;
  border-radius: 4px;
  width: 318px;
  height: 52px;
  font-size: 16px;
  font-weight: 500;
  line-height: 16px;
}

.submit:hover,
.chart-button:hover {
  background-color: var(--Perano);
}

.graph {
  justify-content: center;
  width: 384px;
  height: 273.288px;
  display: flex;
  margin-top: 10px;
}

.graph-img {
  width: 100%;
  height: 100%;
}

.banner__media-logo {
  flex-direction: column;
  justify-content: center;
  width: 414px;
  display: flex;
}

.banner__media-logo p {
  text-align: center;
  color: var(--River-Bed);
  letter-spacing: 0;
  font-family: 'Inter', sans-serif;
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
  line-height: 11px; 
}

.banner__media-logo b {
  letter-spacing: 0;
  text-align: center;
  color: var(--River-Bed);
  font-family: 'Inter', sans-serif;
  font-size: 11px;
  font-style: normal;
  font-weight: 700;
  line-height: 11px;
}

.banner__logo {
  justify-content: center;
  margin-top: 10px;
  display: flex;
  gap: 40px;
}

.gg {
  width: 56px;
  height: 18.278px;
}

.air {
  width: 56px;
  height: 17.472px;
}

.fb {
  width: 53.17px;
  height: 10.902px;
  margin-top: 4px;
}

.hub {
  width: 56px;
  height: 16.307px;   
}

.slack {
  display: none;
}

.gg,
.air,
.fb,
.hub,
.slack img {
  cursor: pointer;
}

.container {
  width: 414px;
}

.product {
  display: flex;
  flex-direction: column;
  background-image: url(../../assets/image/bgintro.png);
  justify-content: center;
  align-items: center;
}

.timeline {
  margin-top: 32px;
  border-radius: 4px;
  width: 384px;
  height: 303.094px;
}

.timeline img {
  width: 100%;
  height: 100%
}

.product__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.survey-feature p,
.ad-feature p {
    width: 308px;
    color: var(--River-Bed);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    font-family: "Inter", sans-serif;
}

.survey-feature {
  background-color: #F6F3FC;
  border-bottom: 8px solid var(--Violet);
  width: 368px;
  height: 128px;
  margin-top: 20px;
  border-radius: 8px 8px 0px 0px;
  text-align: center;
}

.survey-feature h4,
.ad-feature h4 {
    font-size: 18px;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    line-height: 26px;
    margin-bottom: 1px;
}

.ad-feature {
  text-align: center;
}






/*# sourceMappingURL=index.css.map */