body {
    color: var(--Limed-Spruce);
    font-family: 'Inter', sans-serif;
    overflow-x: hidden; 
}
.container {
    width: 414px;
}

@media only screen and (min-width: 415px) {
    .container {
        width: 1440px;
    }
}
