body {
    color: var(--Limed-Spruce);
    font-family: 'Inter', sans-serif;
    overflow-x: hidden; 
}
.container {
    min-width: 414px;
}

@media only screen and (min-width: 576px) {
    .container {
        min-width: 576px;
    }
}

@media only screen and (min-width: 992px) {
    .container {
        min-width: 992px;
    }
}

@media only screen and (min-width: 1400px) {
    .container {
        min-width: 1400px;
    }
}
